/* shared section */
body {
     font-family: 'Lato', sans-serif;
     font-family: 'Open Sans', sans-serif;
}

.btn-primary {
     border-radius: 8px;
     background: #E55473;
     border: none;
     padding: 20px 40px;
     color: #FFF;
     font-size: 18px;
     font-weight: 700;
}

.text-primary {
     color: rgba(229, 84, 115, 1);
}


/* header section */

.header {
     background-color: rgba(229, 84, 115, 0.10);




}

.banner {
     display: flex;
     padding: 50px 180px 0px 150px;
     align-items: center;

}

.banner-picture {
     width: 550px;
     height: 700px;
     margin-left: 140px;
     margin-top: 0px;
     margin-bottom: 0px;


}

.banner-head {
     color: #272727;
     font-size: 65px;
     font-weight: 800;
     margin-bottom: 0;
     width: 650px;

}

.banner-discription {
     color: rgba(39, 39, 39, 0.60);
     font-size: 16px;
     font-weight: 400;
     line-height: 25px;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 600px;

}

/* hot deal section */
.hot-deal {
     border-radius: 8px;
     background: rgba(229, 84, 115, 0.05);
     margin-top: 60px;
     text-align: center;
     display: flex;
     justify-content: center;



}

.hot-deal-head {
     color: #272727;
     font-size: 35px;
     font-weight: 800;
     margin-bottom: 20px;
     padding:150px 100px 0px 100px;


}

.hot-deal-description {
     color: rgba(39, 39, 39, 0.60);
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     margin-top: 0;
     margin-bottom: 30px;
     width: 600px;
     padding: 0px 100px 0px 150px;

}

.hot-deal-picture {
     width: 318px;
     height: 450px;
     padding: 70px 0px 60px 0px;

     

     
     
     
     
}